<div class="row">

  <div class="col-xs-12 col-lg-6 col-lg-offset-3">
    <div class="teams card card-inverse" style="background-color: #333; border-color: #xxx;">

      <div class="card-block text-md-right">
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Teams</h4>
          </div>
          <div class="col-md-6">
            <%= link_to 'New Team', new_team_path, class: 'pull-xs-right' %>
          </div>
        </div>
      </div>

      <%= render partial: 'shared/teams_table', locals: { teams: @teams } %>

    </div>
  </div>

