<div class="mdl-card mdl-shadow--16dp full-width">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Teams</h2>
    <div class="mdl-layout-spacer"></div>
    <%= link_to 'New Team', new_team_path, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
  </div>

  <%= render partial: 'shared/teams_table', locals: { teams: @teams } %>
</div>











