<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="teams card card-inverse" style="background-color: #333; border-color: #xxx;">

      <div class="card-block text-md-right">
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Teams</h4>
          </div>
          <div class="col-md-6">
            <%= link_to 'New Team', new_team_path, class: 'pull-xs-right' %>
          </div>
        </div>
      </div>

      <div class="card-block">
        <table class='table'>
          <tr>
            <th>Name</th>
          </tr>
          <% @teams.each do |team| %>
            <tr>
              <td><%= link_to team.name, team_path(team) %></td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>

