<div class="row">
  <div class="col-xs-12 col-lg-6 col-lg-offset-3">
    <div class="teams card card-inverse" style="background-color: #333; border-color: #xxx;">

      <div class="card-block">

        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title"><%= @team.name %></h4>
          </div>

          <div class="col-md-6">
            <%= link_to 'Back', teams_path, class: 'pull-xs-right' %>
          </div>
        </div>

      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            Current games
          </div>
          <div class="col-md-6">
            <%= link_to 'Add Game', new_team_game_path(@team), class: 'pull-xs-right' %>
          </div>
        </div>
      </div>

      <%= render partial: 'shared/team_games_table', locals: { team: @team } %>

    </div>
  </div>

