<table class="mdl-data-table mdl-js-data-table mdl-shadow--16dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Date</th>
      <th class="mdl-data-table__cell--non-numeric">Time</th>
      <th class="mdl-data-table__cell--non-numeric">Field</th>
    </tr>
  </thead>
  <tbody>
    <%- team.games.each do |game| %>
      <tr>
        <td><%= game.date.strftime("%m/%d/%Y") %></td>
        <td><%= game.time.strftime("%I:%M%p") %></td>
        <td><%= game.field %></td>
      </tr>
    <% end %>
  </tbody>
</table>


