<table class="mdl-data-table mdl-js-data-table mdl-shadow--16dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team), class: 'mdl-button mdl-js-button mdl-js-ripple-effect center-inline' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

