<%= pluralize(model.errors.count, "error") %> prohibited this <%= model.model_name.human %> from being saved:

<ul>
  <% model.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

