@import "material";


.mdl-data-table td {
  text-align: left;
}

.center-block {
  margin: 0 auto;
}

.center-inline {
  text-align: center;
}

.full-width {
 width: 100%
}

.mdl-grid {
	margin-top: 20px;
}

.mdl-card__actions {
	display: flex;
	// box-sizing:border-box;
	// align-items: center;
}

body {
  background-color: grey;
}

.error {
  background-color: #d9534f;
  border-width: 1px;
  margin: 1em 0 1em 0
}

.notice {
  background-color: #5cb85c;
  border-width: 1px;
  margin: 1rem 0 1rem 0
}

.validation_error {

  background-color: red;
  margin: 1rem;
  border-width: 5px;
  border-radius: 10px;
  border-color: black;
}

